@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-background: #10141e;
  --heading-size: 16px;
  --text-head: #ff5024;
  --text-secondary: #959dab;
  --border: 1px solid #353a48;
  --bg-container: #101010;
  --bg-grid: #191919;
  --border-radius-con: 10px;
}

body {
  background: var(--bg-background);
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding: 20px;
}

.upper-container {
  text-align: center;

  p {
    color: #ff5024;
    font-weight: 600;
    font-size: var(--heading-size);
  }

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
  }
}

.grid-container {
  background: var(--bg-container);
  border: var(--border);
  border-radius: var(--border-radius-con);
  margin-top: 27px;
  padding: 50px 50px;
  display: grid;
  gap: 20px;
  height: 100%;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: auto;

  .grid-elements {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    background: var(--bg-grid);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    min-height: 100%;

    h2 {
      font-size: var(--heading-size);
      font-weight: 600;
    }

    p {
      color: var(--text-secondary);
      font-size: 14px;
    }
  }
}

.img-g {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.m-right {
  margin-right: 20px;
}

.grid-1 {
  grid-row: span 2;
}

.grid-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid-elements-2 {
  display: flex;
  flex-direction: column;
}

.grid-container-2 {
  background: var(--bg-container);
  border: var(--border);
  border-radius: var(--border-radius-con);

  padding: 50px 50px;
  display: grid;
  gap: 20px;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;

  .grid-elements {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    background: var(--bg-grid);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    min-height: 100%;

    div {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    h2 {
      font-size: var(--heading-size);
      font-weight: 600;
    }

    p {
      color: var(--text-secondary);
      font-size: 14px;
    }
  }
}

.container-2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding: 0px 20px;
}

.container-3 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding: 20px 20px;

  main {
    div {
      h2 {
        color: var(--text-secondary);
        font-size: 14px;
      }
    }
  }

  li {
    margin-top: 15px;
  }
}

.big-text {
  font-size: xx-large;
  font-weight: 800;

  p {
    font-weight: 400;
  }
}

.funky-btn {
  min-width: 289px;
  background-color: #313131;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  font-size: small;
}

.list {
  color: #fff;
  list-style: none;
  margin-top: 10px;
  gap: 48px;
}

.tick {
  color: #ff5024;
  font-size: 22px;
}

.funky-btn-2 {
  min-width: 289px;
  background-color: #ff5024;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  font-size: small;
}

/* Text Gradient CSS */
.text-gradient {
  color: #f8f8ff;
  background-image: linear-gradient(
    45deg,
    #f8f8ff,
    #e9ab9b 33%,
    #ff5024 67%,
    #ff3907 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
